.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #000;
  &::before {
    content: '';
    width: 100%;
    position: fixed;
    height: 100px;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    @include max(1024) {
      display: none;
    }
  }
}

.popup__video {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100vh;
  }
}

.popup__close {
  font-family: $font;
  font-size: 18px;
  line-height: 35px;
  position: fixed;
  right: 0;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 55px;
  margin: auto;
  padding: 5px 25px;
  transition: .5s;
  color: #fff;
  border-radius: 30px;
  background-color: #e52d04;
  box-shadow: 0 0 30px rgba(229, 45, 4, 0);
  @media (max-width: 667px) and (orientation: landscape) {
    width: 146px;
    height: 45px;
  }
  @media (max-width: 767px) and (orientation: portrait) {
    width: 146px;
    height: 45px;
  }
  &:hover {
    color: #fff;
    box-shadow: 0 0 30px rgba(229, 45, 4, 1);
  }
}
