//begin aside
.aside
  //begin aside__top
  .aside__top.aside-top
    a(href="#").aside-top__logo
      img(src="assets/img/logo.svg" alt="logo")
  //end aside__top

  //begin aside__bottom
  .aside__bottom.aside-bottom
    button.aside-bottom__btn.active Карта
    button.aside-bottom__btn Список
  //end aside__bottom
//end aside