script(src='assets/js/foundation.js')
script(src='assets/js/app.js')
//script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=d9063b73-cd43-48f8-b594-e35195e20ef2")
script(src="https://api-maps.yandex.ru/2.1/?apikey=d9063b73-cd43-48f8-b594-e35195e20ef2&lang=ru_RU")
script(src='assets/js/uncompressed.js')