*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 600;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-family: $font;
    font-weight: 600;
  }
}

a {
  transition: color .5s;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //свойство для исправления бага 100vh для мобильных
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}
