@font-face {
  font-family: Nexa-Regular;
  src:  url('../fonts/Nexa-Regular.woff2') format('woff2'),
        url('../fonts/Nexa-Regular.woff')  format('woff');
}

@font-face {
  font-family: Nexa-Thin;
  src:  url('../fonts/Nexa-Thin.woff2') format('woff2'),
        url('../fonts/Nexa-Thin.woff')  format('woff');
}

@font-face {
  font-family: Nexa-Bold;
  src:  url('../fonts/Nexa-Bold.woff2') format('woff2'),
        url('../fonts/Nexa-Bold.woff')  format('woff');
}
