extends ../_template

block variables
  - var title       = 'Истории Татарстана'
  - var description = 'Истории Татарстана'
  - var ogtitle     = 'Истории Татарстана'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap
    //begin content
    main.main.temp-page
      //.temp-page__inn
      h1.temp-page__title Скоро здесь будет сайт
    //end content

    include ../sections/scripts
