.error {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #82b0a7;
  background-image: linear-gradient(107.56deg, rgba(148, 184, 177, .85) 0%, rgba(219, 212, 174, .85) 100%), url('../img/bg-404.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: url('../img/bg-404-line.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 227px) 50%;

    @media (max-width: 1440px) and (orientation: landscape) {
      background-image: url('../img/bg-404-line-1440.svg');
    }
    @media (max-width: 1024px) and (orientation: landscape) {
      background-image: url('../img/bg-404-line-1024.svg');
    }
    @media (max-width: 667px) and (orientation: landscape) {
      background-image: url('../img/bg-404-line-667.svg');
    }
    @media (orientation: portrait) {
      background-image: none;
    }
  }
}

.error__inn {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 30px;
}

.error__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 586px;
}

.error__title {
  font-family: $font;
  font-size: 288px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: -20px;
  color: #005164;
  @media (max-width: 1440px) and (orientation: landscape) {
    font-size: 200px;
    margin-bottom: -10px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 160px;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    font-size: 96px;
    margin-bottom: 0;
  }
  @media (orientation: portrait) {
    font-size: 160px;
    margin-bottom: 0;
  }
  @media (max-width: 375px) and (orientation: portrait) {
    font-size: 96px;
  }
}

.error__text {
  font-family: $font;
  font-size: 24px;
  font-weight: normal;
  line-height: 35px;
  display: block;
  max-width: 337px;
  margin-bottom: 114px;
  color: #005164;
  @media (max-width: 1440px) and (orientation: landscape) {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 89px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 58px;
  }
  @media (orientation: portrait) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 96px;
  }
  @media (max-width: 375px) and (orientation: portrait) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 86px;
  }
}

.error__btn {
  font-family: $font;
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  margin: 0 auto;
  padding: 5px 25px;
  transition: .5s;
  text-align: center;
  color: #fff;
  border-radius: 21px;
  background-color: #e52d04;
  &:hover {
    color: #fff;
    background-color: lighten(#e52d04, 10%);
  }
}
