#map {
cursor: url("../img/cursor.svg"), auto;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}
//begin #стилизация карты
[class*='ymaps-2'][class*='-ground-pane'] {
          filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
//end #стилизация карты

//begin #убираем дефолтные приколы
.ymaps-2-1-76-balloon__close + .ymaps-2-1-76-balloon__content {
  margin-right: 0 !important;
}
.ymaps-2-1-76-balloon__content {
  padding: 0 !important;
}
//.ymaps-2-1-76-balloon__close,
.ymaps-2-1-76-balloon__tail {
  display: none !important;
}
.ymaps-2-1-76-balloon__layout{
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
}
//end #убираем дефолтные приколы

.balloon-top {
  position: relative;
  width: 325px;
  min-height: 180px;
  padding: 35px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.balloon-top__info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.balloon-top__title {
  font-size: 12px;
  font-weight: normal;
  line-height: 25px;
  color: #e52d04;
}
.balloon-top__adress {
  font-size: 18px;
  font-family:$font-bold;
  font-weight: bold;
  line-height: 25px;
  max-width: 140px;
  color: #005164;
}
.balloon-top__object {
  position: absolute;
  right: 0;
  background-image: url('../img/bg-line.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  bottom: 0;
  width: 205px;
  min-height: 165px;
  img {
    display: block;
    max-width: 100%;

    object-fit: contain;
    object-position: center;
  }
}
.balloon-body {
  padding: 30px 30px 15px 30px;
}
.balloon-body__row {
  display: flex;
span {
  padding-right: 3px;
  font-family:$font-thin;
  font-size: 14px;
  line-height: 25px;
  color: #000000;

}
}

.balloon-footer{
  display: flex;
  justify-content: center;
  padding: 15px 15px 19px 15px;
}
.balloon-footer__btn{
  font-weight: bold;
  font-family:$font-bold;
  font-size: 14px;
  line-height: 35px;
  height: 42px;
  background-color: #E52D04;
  border-radius: 21px;
  color: #FFFFFF;
  padding: 5px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  &:hover {
  background-color: lighten(#E52D04, 10%);
    color: #ffffff;

  }
}