.index {
  .panel {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 100vh;
  cursor: url('../img/cursor.png'), auto;
  background-color: #ccc;
}

//begin #стилизация карты
[class*='ymaps-2'][class*='-ground-pane'] {
  filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

//end #стилизация карты

//begin #убираем дефолтные приколы
.ymaps-2-1-77-balloon__close,
.ymaps-2-1-77-copyrights-pane,
.ymaps-2-1-77-controls-pane,
.ymaps-2-1-76-scaleline,
.ymaps-2-1-76-copyright,
.ymaps-2-1-76-float-button,
.ymaps-2-1-76-controls__control_toolbar,
.ymaps-2-1-76-gotoymaps,
.ymaps-2-1-76-balloon__tail {
  display: none !important;
}

.ymaps-2-1-77-balloon {
  pointer-events: none;
  box-shadow: none !important;
}

.ymaps-2-1-77-balloon__layout {
  overflow: visible !important;
  background: transparent !important;
}

.ymaps-2-1-77-balloon__content {
  background: transparent !important;
  & > ymaps {
    overflow: visible !important;
  }
}

.ymaps-2-1-77-balloon__tail {
  z-index: 10;
  display: none !important;
  margin-top: 5px;
  margin-left: 30px;
  transform: rotate(180deg) !important;
  background: none !important;
  box-shadow: none !important;
  &::after {
    width: 0 !important;
    height: 0 !important;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    background-color: transparent !important;;
  }
}

.ymaps-2-1-77-b-cluster-tabs__menu {
  pointer-events: auto;
  background: #fff;
}

.ymaps-2-1-77-b-cluster-tabs__menu-item,
.ymaps-2-1-77-b-cluster-tabs__menu-item_current_yes {
  padding: 7px 0 7px 10px !important;
}

.ymaps-2-1-77-b-cluster-tabs__content-item {
  background-color: #fff;
  .ymaps-2-1-77-b-cluster-content__footer {
    .balloon-footer {
      box-shadow: none;
    }
  }
}

.ymaps-2-1-77-b-cluster-content__header {
  transform: translate(15px, 10px);
}

.ymaps-2-1-77-b-cluster-tabs__content-item {
  position: relative;
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 10px;
    height: 100%;
    content: '';
    background: #fff;
  }
}

//end # убираем дефолтные приколы

.balloon-top {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  width: 283px;
  height: 250px;
  padding: 0;
  pointer-events: none;
  img {
    position: relative;
    z-index: 10;
  }
  &::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-color: #fff;
  }
}

.balloon-top__object {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -10px;
  pointer-events: none;
  background-image: linear-gradient(to top, #fff, #fff 50px, transparent 51px, transparent);
  img {
    display: block;
    max-width: calc(100% - 30px);
    margin-left: 15px;
    object-fit: contain;
    object-position: center;
  }
}

.balloon-body {
  position: relative;
  z-index: 1;
  width: 283px;
  padding: 20px 0 0 18px;
  pointer-events: auto;
  background-color: #fff;
}

.balloon-body__row {
  display: flex;
  span {
    font-family: $font-thin;
    font-size: 14px;
    line-height: 25px;
    padding-right: 3px;
    color: #000;
    strong {
      font-family: $font;
      font-weight: 600;
    }
  }
}

.balloon-footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 283px;
  padding: 15px 0 19px 18px;
  pointer-events: auto;
  background-color: #fff;
  box-shadow: 14px 4px 30px rgba(0, 0, 0, .2);

  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: '';
    background-color: #fff;
  }
}

.balloon-footer__btn {
  font-family: $font;
  font-size: 14px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 5px 25px;
  transition: .5s;
  color: #fff;
  border-radius: 21px;
  background-color: #e52d04;
  &:hover {
    color: #fff;
    background-color: lighten(#e52d04, 10%);
  }
}
