.object {
  display: flex;
  background-color: #ebf0ef;
  @media (max-width: 1024px) and (orientation: landscape) {
    flex-direction: column;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.object-left,
.object-right {
  width: 50%;
}

////begin #LEFT
.object-left {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 55px;
  background-image: url('../img/bg-object.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  //background-size: cover;
  @media (max-width: 1440px) and (orientation: landscape) {
    padding: 43px;
    background-image: url('../img/bg-object-1440.svg');
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 128px !important;
    padding-right: 80px;
    padding-left: 130px;
    background-color: #fff;
    background-image: none;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    padding-top: 89px !important;
    padding-right: 25px;
    padding-left: 25px;
  }
  @media (orientation: portrait) {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 153px !important;
    padding-right: 63px;
    padding-left: 102px;
    background-color: #fff;
    background-image: none;
  }
  @media (max-width: 480px) and (orientation: portrait) {
    padding-top: 94px !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.object-left__inn {
  position: relative;
  @media (max-width: 667px) and (orientation: landscape) {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
  }
}

.object-left__title {
  font-family: $font;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  display: none;
  margin-bottom: 48px;
  color: #000;

  @media (max-width: 1024px) and (orientation: landscape) {
    display: block;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    font-size: 20px;
    margin-bottom: 13px;
  }
  @media (orientation: portrait) {
    display: block;
  }
  @media (max-width: 480px) and (orientation: portrait) {
    font-size: 20px;
    margin-bottom: 13px;
  }
}

.object-left__video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  box-shadow: 5px 5px 25px rgba(0, 79, 110, .3);
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.object-left__video-deskr {
  position: absolute;
  top: calc(100% + 45px);
  left: 0;
  @media (max-width: 1024px) and (orientation: landscape) {
    position: relative;
    top: 0;
    margin-top: 35px;
    margin-bottom: 55px;
  }
  @media (orientation: portrait) {
    position: relative;
    top: 0;
    margin-top: 35px;
    margin-bottom: 55px;
  }
  @media (max-width: 480px) and (orientation: portrait) {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

.object-left__video-deskr-row {
  display: flex;
  span {
    font-family: $font-thin;
    font-size: 14px;
    font-weight: 200;
    line-height: 25px;
    padding-right: 4px;
    color: #000;
  }
}

//end #LEFT

//begin #RIGHT
.object-right {
  position: relative;
  margin-left: auto;
  padding: 0 70px 70px 172px;
  background-color: #fff;
  box-shadow: -15px 0 30px rgba(0, 0, 0, .06);
  @media (max-width: 1440px) and (orientation: landscape) {
    padding: 0 86px 70px 110px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 100%;
    padding-top: 0 !important;
    padding-right: 80px;
    padding-left: 130px;
    box-shadow: none;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    padding-right: 25px;
    padding-left: 25px;
  }
  @media (orientation: portrait) {
    width: 100%;
    padding-top: 0 !important;
    padding-right: 63px;
    //    padding-left: 70px;
    padding-left: 102px;
    box-shadow: none;
  }
  @media (max-width: 480px) and (orientation: portrait) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.object-right__header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 40px 83px 20px 83px;
  background-color: #fff;
  @media (max-width: 1440px) and (orientation: landscape) {
    padding: 42px 72px 20px 42px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 100%;
    padding: 36px 43px 20px 62px;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    padding: 24px 24px 15px 24px;
  }
  @media (orientation: portrait) {
    width: 100%;
    padding: 35px 43px 15px 43px;
  }
  @media (max-width: 480px) and (orientation: portrait) {
    padding: 15px 15px 10px 15px;
  }
}
.object-right__back {
  display: block;
  cursor: pointer;
  svg {
    stroke: #005164;
    width: 38px;
    height: 47px;
    @media (max-width: 667px) and (orientation: landscape) {
      width: 20px;
      height: 35px;
    }
    @media (orientation: portrait) {
      width: 20px;
      height: 35px;
    }
  }
}

.object-right__inn {
  max-width: 530px;
  transform: translateY(-50px);
  @media (max-width: 1024px) and (orientation: landscape) {
    max-width: 100%;
  }
  @media (max-width: 667px) and (orientation: landscape) {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
  }
  @media (orientation: portrait) {
    max-width: 100%;
    transform: translateY(0px);
  }
  p {
    font-family: $font-thin;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    margin-bottom: 33px;
    color: #000;
    @media (max-width: 1440px) and (orientation: landscape) {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    @media (max-width: 667px) and (orientation: landscape) {
      font-size: 14px;
      margin-bottom: 15px;
    }
    @media (orientation: portrait) {
      font-family: $font-thin;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    @media (max-width: 480px) and (orientation: portrait) {
      //    @media (max-width: 375px) and (orientation: portrait) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}

.object-right__title {
  font-family: $font;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.15;
  margin-bottom: 50px;
  color: #000;
  @media (max-width: 1440px) and (orientation: landscape) {
    font-size: 42px;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    display: none;
  }
  @media (orientation: portrait) {
    display: none;
  }
}

//end #RIGHT
